#products{
    height: auto;
    width: auto;
    align-content: right;
    /* flex-direction: row; */
}

.products-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 130px;
    width: 100%;
    height: 100%;
    max-width: 75%;
    margin-right: auto;
    margin-top: 0;
    left: 10%;
    position: relative;
}
.products-element{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 100%;
    height: 100%;
}

.products-element__img{
    width: 100%;
    height: 23vw;
    object-fit: contain;
}

.products-element__name{
    width: 60%;
    text-align: left;
    left: 15%;
    top: 20px;
    margin-bottom: auto;
    position: relative;
    font-size: 1vw;
    font-family: 'Noto Sans';
}
.products-element__price{
    top: 30px;
    margin-bottom: 0;
    text-align: left;
    left: 15%;
    position: relative;
    font-size: 1vw;
    font-family: 'Noto Sans';
}
/* .products-element__btn{
    
} */